[submodule "MenubarApp"]
	path = MenubarApp
	url = https://github.com/matthinc/HomeAssistantElectronMenubar
[submodule "Menubar"]
	path = Menubar
	url = https://github.com/matthinc/HomeAssistantElectronMenubar
